:root {
    --border: 1px solid rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cont-img {
    text-align: center;
    margin-bottom: 20px;
}
/* form */
#cont-form {
    text-align: center;
}
/* form */

#container {
    width: 450px;
    height: 450px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

}

.row {
    
    display: flex;
    

}

.square {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1-1,
.s2-1,
.s1-2,
.s2-2 {
    border-bottom: var(--border);
    border-right: var(--border);
}


.s1-3,
.s2-3 {
    border-bottom: var(--border);
}

.s3-1,
.s3-2 {
    border-right: var(--border);
}


i {
    font-size: 40px;
}

.fa-xmark {

    color: red;
}

.fa-o {

    color: blue;
}