<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Pragma" content="no-cache">
    <title>Tris</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    

    <div id="container">
        <div id="cont-img">
            <a href="index.html">
                <img src="asset/tris-logo.png" alt="logo">
            </a>
        </div>
            
        <!-- form per la stanza -->

        <!-- create room -->
        <div v-if="!stanza" id="cont-form">
            <label for="stanza">Stanza</label><br>
            <input type="text" v-model="stanzaInput"><br>
            <!-- <label for="stanza">Nome</label><br>
            <input type="text" v-model="nomeInput" value=" "><br> -->
            <label for="player">Player</label><br>
            <input type="text" v-model="playerInput"><br>
            <a class="btn btn-primary" :href="`index.html?player=${playerInput}&stanza=${stanzaInput}`">Create Room</a>
        </div>
        <!-- /create room -->


        <!-- join room -->
        <div v-if="!stanza" id="cont-form">
            <label for="stanza">Stanza</label><br>
            <input type="text" v-model="stanzaInput"><br>
            <a class="btn btn-primary" :href="`index.html?join=true&stanza=${stanzaInput}`">Join Room</a>
        </div>
        <!-- /join room -->

        <!-- /form per la stanza -->

        <!-- game -->
        <div v-if="stanza">
            <!-- frasi descrittive -->
            <h1 v-if="click" class="sentence-desc">
                <span :class="player == 'x' ? 'colorX' : 'colorO'">{{player}} </span> - Aspetta il tuo turno
            </h1>
            <h1 v-else class="sentence-desc">
                <span :class="player == 'x' ? 'colorX' : 'colorO'">{{player}} </span> - Tocca a te
            </h1>
            <!-- /frasi descrittive -->

            <div class="grill d-flex flex-column flex-nowrap">
                <!-- row 1 -->
                <div class="row">

                    <!-- cella -->
                    <h2 class="square s1_1" 
                        :class="[winnerCombination.includes('s1_1') && winner ? 'active' :  '', dbData.s1_1 == 'x' ? 'colorX' : 'colorO']" 
                        @click="clicked('s1_1')">
                        {{ dbData.s1_1 }}
                    </h2>
                    <!-- /cella -->

                    <!-- cella -->
                    <h2 class="square s1_2" 
                        :class="[winnerCombination.includes('s1_2') && winner ? 'active' :  '', dbData.s1_2 == 'x' ? 'colorX' : 'colorO' ]"
                        @click="clicked('s1_2')">
                        {{ dbData.s1_2 }}
                    </h2>
                    <!-- /cella -->

                    <!-- cella -->
                    <h2 class="square s1_3" 
                        :class="[winnerCombination.includes('s1_3') && winner ? 'active' :  '', dbData.s1_3 == 'x' ? 'colorX' : 'colorO' ]" 
                        @click="clicked('s1_3')">
                        {{ dbData.s1_3 }}
                    </h2>
                    <!-- /cella -->

                </div>
                <!-- /row 1 -->

                <!-- row 2-->
                <div class="row">

                    <!-- cella -->
                    <h2 class="square s2_1" 
                        :class="[winnerCombination.includes('s2_1') && winner ? 'active' :  '', dbData.s2_1 == 'x' ? 'colorX' : 'colorO' ]" 
                        @click="clicked('s2_1')">
                        {{ dbData.s2_1 }}
                    </h2>    
                    <!-- /cella -->
                    
                    <!-- cella -->
                    <h2 class="square s2_2" 
                        :class="[winnerCombination.includes('s2_2') && winner ? 'active' :  '', dbData.s2_2 == 'x' ? 'colorX' : 'colorO' ]" 
                        @click="clicked('s2_2')">
                        {{ dbData.s2_2 }}
                    </h2>
                    <!-- /cella -->
                    
                    <!-- cella -->
                    <h2 class="square s2_3" 
                        :class="[winnerCombination.includes('s2_3') && winner ? 'active' :  '', dbData.s2_3 == 'x' ? 'colorX' : 'colorO' ]" 
                        @click="clicked('s2_3')">
                        {{ dbData.s2_3 }}
                    </h2>
                    <!-- /cella -->

                </div>
                <!-- /row 2-->

                <!-- row 3-->
                <div class="row">

                    <!-- cella -->
                    <h2 class="square s3_1" 
                        :class="[winnerCombination.includes('s3_1') && winner ? 'active' :  '', dbData.s3_1 == 'x' ? 'colorX' : 'colorO' ]" 
                        @click="clicked('s3_1')">
                        {{ dbData.s3_1 }}
                    </h2>
                    <!-- /cella -->

                    <!-- cella -->
                    <h2 class="square s3_2" 
                        :class="[winnerCombination.includes('s3_2') && winner ? 'active' :  '', dbData.s3_2 == 'x' ? 'colorX' : 'colorO' ]" 
                        @click="clicked('s3_2')">
                        {{ dbData.s3_2 }}
                    </h2>
                    <!-- /cella -->

                    <!-- cella -->
                    <h2 class="square s3_3" 
                        :class="[winnerCombination.includes('s3_3') && winner ? 'active' :  '', dbData.s3_3 == 'x' ? 'colorX' : 'colorO' ]" 
                        @click="clicked('s3_3')">
                        {{ dbData.s3_3 }}
                    </h2>
                    <!-- /cella -->

                </div>
                <!-- /row 3-->
            </div>


            <div class="w-100">
                <button class="d-block btn btn-primary m-auto mt-2" @click="reset">RESET</button>
            </div>
        </div>
        <!-- /game -->
            

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>


</body>
</html>